{% extends 'base.html' %}
{% block title %}{{ config.name }} | Resume & CV{% endblock %}
{% block meta_description %}View and download the professional resume and CV of Raj Maheshwari.{% endblock %}
{% block content %}
<section class="chapter full-height theme-light" style="padding: 0; min-height: calc(100vh - 70px); overflow: hidden; height: calc(100vh - 70px);">
    <iframe src="/cv_raw" width="100%" height="100%" loading="eager" style="border: none; height: 100%; background: transparent; width: 100%; display: block;" title="Raj Maheshwari CV"></iframe>
</section>
{% endblock %}
